body{
    background-color:cornsilk ;
    border: black 5px solid;
    background-image:  url('../imagens/degrade.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    font-family: Arial;
    color: blue;
  margin-left: 500px;
  margin-right: 50%;
  width: 300px; 
  font-style: normal;
  border-bottom: black solid 2px;

}
.pa{
font-family: Arial;
margin-right: 50%;
margin-left: 500px;
width: 300px;
}
.w1{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 50%;
 
}
.w2{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w3{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;

}
.w4{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w5{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w6{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w7{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w8{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w9{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}

.w10{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w11{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w12{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w13{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w14{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w15{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w16{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w17{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w18{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w19{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w20{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w21{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w22{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w23{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
.w24{
    font-family: Arial;
    font-style: normal;
    color: black;
    margin-right: 60%;
}
